@import"_varibales";
@import"_header";
@import"_support";
@import"_stage";
@import"_participants";
@import"_footer";

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: $primary-fonts;
}

html {
    scroll-behavior: smooth;
}

img {
    display: block;
}

.container {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}

.text__runner {
    padding: 18px 12px;
    background-color: $accent;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.text__runner-mt {
    margin-top: -14px;

}

.text__runner-item {
    display: inline-block;
    padding-left: 100%;
    -webkit-animation: marquee 30s linear infinite;
    animation: marquee 30s linear infinite;
    color: $light;
    text-align: right;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
}

@-webkit-keyframes marquee {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }

}

@keyframes marquee {
    0% {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    100% {
        -webkit-transform: translate(-100%, 0);
        transform: translate(-100%, 0);
    }

}

@media (max-width: 768px) {

    .container {
        max-width: 768px;
    }

    .text__runner {
        padding: 10px;
        margin-top: 0;
    }

    .text__runner-item {
        font-size: 16px;
    }
}


@media (min-width: 320px) and (max-width: 375px) {
    .container {
        max-width: 375px;
    }

    .text__runner-mt {
        margin-top: 250px;
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .text__runner-mt {
        margin-top: 270px;
    }
}